@use "../abstracts/variables"  as *;
form {
  width: 80%;
  .group {
    margin-bottom: 15px;
    &__control {
      width: 100%;
      border-bottom: 1px solid silver;
      border-top: none;
      border-left: none;
      border-right: none;
      height: 50px;
      outline: none;
      // border-radius: 3px;
      padding: 0;
    }
  }
}
